/** OH DANG, IT'S FONTS **/
@font-face {
	font-family: 'Sniglet';
	src: url("fonts/Sniglet-Regular.otf") format("opentype");
}

/** STANDARD TAG STUFF **/
body{
	
	background: #fff;
	margin:0;

	font-family: 'OpenSansEmoji', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 22px;

}
b, strong{
	font-weight: bold;
}
a{
	font-weight: bold;
	color:#cc2727;
}
a:hover{
	color:#dd3838;
}

/** THE TITLE **/
.splash{

	background: #000;
	overflow: hidden;

	position: relative;
	width: 100%;
	height: 550px;
	margin-bottom: 50px;

}
.splash > div{
	position: absolute;
}
#splash_iframe_container{
	position: absolute;
	margin: auto;
	top:0; bottom:0; left:0; right:0;
	width:0; height:0;
}
#splash_iframe{
	position: absolute;
	left: -750px;
	top: -275px;
	width: 1500px;
	height: 550px;
	border: none;
}
#splash_shadow{
	pointer-events:none;
	
	width:100%; height:100%;
	box-shadow: inset 0 0 200px rgba(0,0,0,1);
}
#splash_title{

	pointer-events:none;

	width: 960px;
	height: 280px;

	margin:auto;
	top:0; left:0; right:0; bottom:0;

	color: #fff;
	text-align: center;
	font-family: 'Sniglet';

	text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
}
#splash_hand_container{

	pointer-events:none;

	width: 100%;
	bottom: 0;
    height: 75px;
}
#splash_hand{
	display: block;
	margin: 0 auto;
    width: 75px;
    height: 75px;
    
    position: relative;
    left: 420px;
}
#splash_kiss{
	font-family: 'OpenSansEmoji', Helvetica, Arial, sans-serif;
}

/** THE ESSAY **/
.words{
	width: 600px;
	margin: 25px auto;
	line-height: 1.3em;
	text-align: justify;
}

/** QUESTIONS **/
.words .reader_input{
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	background: #eee;
	font-size: 20px;
	font-weight: 100;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color:#333;
	margin-top:5px;
}
.words .reader_choice{
	overflow: hidden;
	border-radius: 5px;
}
.words .reader_choice label{
	display: block;
	width: 100%;
	padding: 5px;
	cursor: pointer;
}
.words .reader_choice label:nth-child(odd){
	background: #eee;
}
.words .reader_choice label:nth-child(even){
	background: #ddd;
}
.words .reader_reflect span:nth-child(n+2){
	display: none;
}

/** EXAMPLES **/
.example{
	/*
	width: 800px;
	*/
	width: 880px;
	margin: 50px auto 40px auto;
}
.example div#title{
	font-size: 30px;
}
.example div#description, .example div#afterword{
	font-size: 17px;
	color: #888;
	margin: 5px 0 15px 0;
	line-height: 1.5em;
}
.example div#description > div{
	height: 10px;
}
.example iframe{
	
	/*
	width: 800px;
	height: 450px;
	*/
	width: 880px;
	height: 495px;

	border: 1px solid #ddd;
	display: block;
	margin: 0;
	margin-top: 10px;
}
.example div#example_link{
	font-size: 18px;
	text-align: right;
	margin-top: 5px;
	color: #aaa;
	height: 21px;
}
.example div#example_link a{
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}
.example div#example_link input{
	display: none;
	width: 470px;
	border: 1px solid #ddd;
	border-radius: 3px;
}


/** ZOO SELECT **/
#zoo_select{
	font-size: 24px;
	line-height: 30px;
	overflow: hidden;
	margin-top: 5px;
}
#zoo_select > div{

	background: #fff;

	width: 273px;
	height: 27px;
	padding: 10px;
	float: left; 
	cursor: pointer;
	opacity: 0.5;

	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#zoo_select > div:hover{
	opacity: 1.0;
}
#zoo_select > div[selected]{
	opacity: 1.0;
	background: #eee;
}
#zoo_iframe{
	/*margin-top:0;*/
	height: 550px;
}

/** STYLISH SHTUFF **/

.dark{
	background:#222;
	color:#fff; 
	padding:30px 0;
	margin:50px 0;
}

/** THE END **/
#credits{
	width: 960px;
	margin: 25px auto 50px auto;
	text-align: justify;
}
#uncopyright{
	width:100%;
	height:180px;
	margin-bottom: 40px;
}
#appendix_container{
	overflow: hidden;
}
.appendix_title{
	color:#fff;
	font-size: 24px;
	font-weight: bold;
}
#further_reading{
	width:600px;
	float:left;
	color: #888;
}
.further_book{
	font-size:18px;
	overflow:hidden;
}
.further_book img{
	width:100px;
	float:left;
	margin-right:20px;
}
#supporters{
	width:320px;
	float:right;
	font-size:16px;
	color:#888;
}
#supporter_drawings{
	overflow: hidden;
	margin-top: 20px; 
	text-align: center;
}
#supporter_drawings > div{
	display: inline-block;
	width:100px;
	height:140px;	
	margin-bottom: 15px;
	text-align: center;
	position: relative;
}
#supporter_drawings > div > img{
	position: absolute;
	width:100px;
	height:100px;
	left:0px;
	top:0px;
}
#supporter_drawings > div > div{
	position: absolute;
	width: 80px;
	height: 37px;
	left:10px;
	top:103px;
}
#social{
	margin-top: 50px;
	width:100%;
	text-align: center;
}
ul.share-buttons{
	list-style: none;
	padding: 0;
}
ul.share-buttons li{
	display: inline;
}
ul.share-buttons img{
	width: 50px;
}

/** EMOJI FALLBACK **/
#emoji_warning{
	display:none;
}